@font-face {
    font-family: LOGIN;
    src: url(ofont.ru_Chicoree.ttf);
}
body {
    background-color: rgb(22, 22, 43);
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif; 
}